
<h1>
  {{title}}
</h1>

<button
  [disabled]='!allowAccess'
  routerLink="/firstname"
  class="btn btn-primary">First Name
</button>
<button
  [disabled]='!allowAccess'
  routerLink="/lastname"
  class="btn btn-primary">Last Name
</button>
<button
  [disabled]='!allowAccess'
  routerLink="/eyecolor"
  class="btn btn-primary">Eye Color
</button>
<br>
<input type="text" class="form-control" style="margin: 2px;" [(ngModel)]="userInput" placeholder="Radu">
<button type="submit" class="btn btn-success" (click)="sendValues()">Log In</button>

<router-outlet></router-outlet>
